---
import clsx from "clsx";

interface Props {
  title: string;
  date: string;
  slug: string;
  contentType: string;
  className?: string;
  location?: string;
}

const { title, date, slug, contentType, className, location } =
  Astro.props as Props;
---

<li class="bg-white rounded-[2rem] overflow-hidden">
  <article>
    <a
      href={`/${contentType}/${slug}`}
      class={clsx("flex flex-col gap-4 p-10", className)}
    >
      <h3 set:html={title} class="text-[1.375rem] font-semibold" />
      <time datetime={date} class="text-gray-500 text-sm font-medium -order-1">
        {
          new Date(date).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
      <p set:html={location} class="text-gray-500 text-sm font-medium" />
    </a>
  </article>
</li>
