---
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  ogSiteName?: string;
  ogLocale?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogUrl?: string;
  ogImage?: string;
  ogAlt?: string;
}
const {
  title,
  description,
  keywords,
  ogSiteName,
  ogLocale,
  ogTitle,
  ogDescription,
  ogUrl,
  ogImage,
  ogAlt,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Seo Metatags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="og:locale" content={ogLocale} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:alt" content={ogAlt} />
    <!-- End Seo Metatags -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
